API_BASE_URL=http://10.0.2.2:8080/api/v1
SUPABASE_URL=http://10.0.2.2:54321
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlZmF1bHQiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTY5MzU1MjAwMCwiZXhwIjoyMDA5MTI4MDAwfQ.invalid_signature
APP_ENV=development
